<div class = "container bg-poop container_bottom_padding">
  <h3>Questions</h3>
  <ul class="list-group">
    <% @questions.each do |q| %>
      <li class = "list-group-item alert-warning"><%= link_to q.title, question_path(q) %>
        <span class="badge">Answers: <%= q.answers.count %></span>
        <span class="badge">Comments: <%= q.comments.count %></span>
      </li>
    <% end %>
  </ul>
</div>