/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
  background-color: #7F6D4D;
  height: 100%
}

body{
  position: relative;
  background-color: #DBBB84;
  width: 80%;
  margin: auto;
  min-height: 100%;
  color: #4C412E;
}

a{
  font-size:18px;
  color:#298249;
}

h3{
  font-size: 40px;
  font-family: 'Cherry Cream Soda', cursive;
}

hr {
    border: none;
    height: 5px;
    background-color: #4C412E;
}

.btn{
  margin-left: 20px;
}

#title{
  font-family: 'Cherry Cream Soda', cursive;
  color: #4C412E;
  letter-spacing: .3em;
  text-align: center;
  margin-top: 40px;
  font-size: .8em;
  margin-left: 60px;
}

.navbar-right{
  font-size: 30px;
}

.navbar-link{
  color: black;
}

.list-group-item{
  border:5px solid #DBBB84;
}

.badge{
  background-color: #4C412E;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.jumbotron{
  padding-bottom: 10px;
  color: #4C412E;
}

.btn-poop{
  background-color: #4C412E;
}

.bg-poop{
  background-color: #4C412E;
  color: #fff;
}

.btn-group a{
  color: #fff;
  border: 1px solid black;
}

.btn-group a:hover{
  color: #BA9F70;
}

.container_bottom_padding{
  padding-bottom: 100px;
}
